<main role="main" class="container">
  <h1 class="text-center">About</h1>
  <p>This web application is an ongoing project for an online book store called Book Worm.</p>
  <p>It's designed as a microservice:</p>
  <ul>
    <li>using a PHP Laravel backend API to retrieve the books from a MySQL database. </li>
    <li>using an Angular frontend written with Typescript and Bootstrap to display the books.</li>
  </ul>
  <p>The search function uses a pipe to dynamically display a list of books matching the user's input.</p>
</main>